// ** VuePress default theme  (customized) **
@import '~prismjs/themes/prism-tomorrow.css'
@import './default-theme'

// *** Vuetify ***
// Should not use the following files in order to avoid conflict.
// - elements/_code.styl
// - elements/_lists.styl
//
// Issue: ~ and globs
// cf. https://github.com/shama/stylus-loader/issues/201
//
// $ find node_modules/vuetify/src/stylus/*/* -name "*.styl" | sed -e "s/^node_modules\//@import '~/" | sed -e "s/.styl$/.styl'/" > theme/styles/vuetify.styl
@import './vuetify.styl'
