// ** VuePress default theme  (customized) **
@import '~prismjs/themes/prism-tomorrow.css'
@import './default-theme'

// *** Vuetify ***
// Should not use the following files in order to avoid conflict.
// - elements/_content.styl
// - elements/_lists.styl
//
// Issue: ~ and globs
// cf. https://github.com/shama/stylus-loader/issues/201
@import '../../node_modules/vuetify/src/stylus/components/*'
@import '../../node_modules/vuetify/src/stylus/settings/*'
@import '../../node_modules/vuetify/src/stylus/generic/*'
@import '../../node_modules/vuetify/src/stylus/elements/_blockquote'
@import '../../node_modules/vuetify/src/stylus/elements/_global'
@import '../../node_modules/vuetify/src/stylus/elements/_headings'
@import '../../node_modules/vuetify/src/stylus/elements/_typography'
@import '../../node_modules/vuetify/src/stylus/tools/*'
@import '../../node_modules/vuetify/src/stylus/trumps/*'
